.excalidraw {
  .ExcalidrawLogo {
    --logo-icon--mobile: 1rem;
    --logo-text--mobile: 0.75rem;

    --logo-icon--xs: 2rem;
    --logo-text--xs: 1.5rem;

    --logo-icon--small: 2.5rem;
    --logo-text--small: 1.75rem;

    --logo-icon--normal: 3rem;
    --logo-text--normal: 2.2rem;

    --logo-icon--large: 90px;
    --logo-text--large: 65px;

    display: flex;
    align-items: center;

    .ExcalidrawLogo-icon {
      color: #ea436b;
      font-size: var(--logo-icon--small);
      line-height: 1;
    }

    .ExcalidrawLogo-text {
      margin-left: 0.75rem;
      width: auto;
      color: #a9274d;
      font-family: Inter, sans-serif;
      font-size: var(--logo-text--small);
      font-weight: 700;
    }

    &.is-mobile {
      .ExcalidrawLogo-icon {
        font-size: var(--logo-icon--mobile);
      }

      .ExcalidrawLogo-text {
        font-size: var(--logo-text--mobile);
        margin-left: 0.5rem;
      }
    }

    &.is-xs {
      .ExcalidrawLogo-icon {
        font-size: var(--logo-icon--xs);
      }

      .ExcalidrawLogo-text {
        font-size: var(--logo-text--xs);
      }
    }

    &.is-small {
      .ExcalidrawLogo-icon {
        font-size: var(--logo-icon--small);
      }

      .ExcalidrawLogo-text {
        font-size: var(--logo-text--small);
      }
    }

    &.is-normal {
      .ExcalidrawLogo-icon {
        font-size: var(--logo-icon--normal);
      }

      .ExcalidrawLogo-text {
        font-size: var(--logo-text--normal);
      }
    }

    &.is-large {
      .ExcalidrawLogo-icon {
        font-size: var(--logo-icon--large);
      }

      .ExcalidrawLogo-text {
        font-size: var(--logo-text--large);
      }
    }
  }
}
